$blue-navy:    #337ab7;
$blue:         #0d6efd;
$blue-hover:   #0b5ed7;
$indigo:       #6610f2;
$purple:       #6f42c1;
$pink:         #d63384;
$red:          #dc3545;
$red-hover:    #bb2d3b;
$orange:       #fd7e14;
$yellow:       #ffc107;
$yellow-hover: #ffca2c;
$green:        #198754;
$green-hover:  #157347;
$teal:         #20c997;
$cyan:         #0dcaf0;
$cyan-hover:   #31d2f2;
$gray:         #6c757d;
$gray-light:   #f8f9fa;
$gray-dark:    #212529;
$gray-border:  #ddd;
$white:        #fff;
$black:        #000;

$primary:       $blue;
$primary-hover: $blue-hover;
$secondary:     $gray;
$success:       $green;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
$light:         $gray-light;
$dark:          $gray-dark;
