/* variables */
$blue-navy:  #337ab7;
$blue:       #0d6efd;
$blue-hover: #0b5ed7;
$indigo:     #6610f2;
$purple:     #6f42c1;
$pink:       #d63384;
$red:        #dc3545;
$orange:     #fd7e14;
$yellow:     #ffc107;
$green:      #198754;
$teal:       #20c997;
$cyan:       #0dcaf0;
$gray:       #6c757d;
$gray-light: #f8f9fa;
$gray-dark:  #212529;
$gray-border:#ddd;
$white:      #fff;
$black:      #000;

$primary:       $blue;
$primary-hover: $blue-hover;
$secondary:     $gray;
$success:       $green;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
$light:         $gray-light;
$dark:          $gray-dark;


/* REACT RAILS PAGINATION CUSTOM */


.rails-pagination{
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}

.rails-pagination > li {
  display: inline;
}

.rails-pagination > li > a {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: $blue-navy; // #337ab7
  text-decoration: none;
  background-color: $white; //#fff
  border: 1px solid $gray-border; //#ddd
}

.rails-pagination > li:first-child > a {
  margin-left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.rails-pagination>li:last-child>a {
  border-top-right-radius:4px;
  border-bottom-right-radius:4px
}

.rails-pagination>li>a:hover,
.rails-pagination>li>a:focus {
  color: $blue-navy;//#23527c;
  background-color: $gray-border;//#eee;
  border-color: $gray-border;//#ddd;
}

.rails-pagination>.active>a,
.rails-pagination>.active>a:hover,
.rails-pagination>.active>a:focus {
  z-index:2;
  color: $white;//#fff;
  cursor:default;
  background-color: $blue-navy;//#337ab7;
  border-color: $blue-navy;//#337ab7;
}

.rails-pagination > li > .disabled {
  color: $gray; //$gray
  pointer-events: none;
}

.rails-pagination > .disabled >a,
.rails-pagination > .disabled >a:hover,
.rails-pagination > .disabled >a:focus {
  color:#777;
  cursor:not-allowed;
  background-color:#fff;
  border-color:#ddd
}
