@import "colors";

/* REACT RAILS PAGINATION CUSTOM */


.rails-pagination{
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}

.rails-pagination > li {
  display: inline;
}

.rails-pagination > li > a {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: $blue-navy; // #337ab7
  text-decoration: none;
  background-color: $white; //#fff
  border: 1px solid $gray-border; //#ddd
}

.rails-pagination > li:first-child > a {
  margin-left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.rails-pagination>li:last-child>a {
  border-top-right-radius:4px;
  border-bottom-right-radius:4px
}

.rails-pagination>li>a:hover {
  color: $blue-navy;//#23527c;
  background-color: $gray-border;//#eee;
  border-color: $gray-border;//#ddd;
}

.rails-pagination>.active>a,
.rails-pagination>.active>a:hover {
  z-index:2;
  color: $white;//#fff;
  cursor:default;
  background-color: $blue-navy;//#337ab7;
  border-color: $blue-navy;//#337ab7;
}

.rails-pagination > li > .disabled {
  color: $gray; //$gray
  pointer-events: none;
}

.rails-pagination > .disabled >a,
.rails-pagination > .disabled >a:hover {
  color:#777;
  cursor:not-allowed;
  background-color:#fff;
  border-color:#ddd
}

.rails-pagination > li > .separator {
  opacity: 1 !important;
}

@import "themes";